body {
    font-family: Arial, sans-serif;
    background:  grey;
    text-align: center;
}

.titulopg{
    margin-top: -40px;
}

.pgConta{
    margin-top: 80px;
}

.pgDeposito{
    margin-top: 40px;
}

.pgExtrato{
    margin-top: 40px;
}

h1 {
    color: #ffffff;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
    padding: 10px;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    text-align: center;
    background-color: rgb(0, 0, 0);
}

button:hover {
    opacity: 0.8;
}

.cpf{
    text-align: center;
}

.email{
    text-align: center;
}

#ocupacao {
    width: 172px;
    text-align: center;
}

.deposito {
    background-color: rgb(4, 58, 9);
    text-align: center;
}

.saque {
    background-color: rgb(179, 9, 9);
    text-align: center;
}

.extrato {
    text-align: center;
}

.saldo {
    color: blue;
    text-align: center;
}

.titulopg {
    text-align: center;
    padding-top: 140px;
    
}

.numero_conta{
    background-color: rgba(169, 169, 169, 0.983);
    text-align: center;
}

.nome_titular{
    text-align: center;
}

.credito{
    text-align: center;
    background-color: rgba(169, 169, 169, 0.983);
}

.senha{
    text-align: center;
}

.login-container {
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}
.login-container input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}
.login-container button {
    padding: 10px 20px;
}
.login-container .register-link {
    margin-top: 20px;
}

.Loginpg {
    text-align: center;
    padding-top: 140px;
}