<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Conta</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="titulopg">
    <h1>Cadastro de Conta</h1>
    {% if mensagem %}
    <p>{{ mensagem }}</p>
    {% endif %}
    <form action="{{ url_for('criar_conta') }}" method="POST" class="campos">
        <label for="numero">Número da Conta:</label>
        <input type="text" id="numero" name="numero" value="{{ numero_da_conta }}" readonly required class="numero_conta"><br>
        <label for="titular">Titular:</label>
        <input type="text" id="titular" name="titular" required class="nome_titular" placeholder="Nome"><br>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required class="email" placeholder="exemplo@gmail.com"><br>
        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" required class="senha" placeholder="Senha" autocomplete="current-password"><br>
        <button type="submit">Criar Conta</button>
        <div class="register-link">
            <p>Já possui cadastro? acesse <a href="{{ url_for('login') }}"> aqui!</a></p>
        </div>
    </form>
</body>
</html>
